<ion-header>
    <ion-toolbar>
        <ion-title>
            Ajouter un objectif
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Annuler</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formGroup" validate (ngSubmit)="submit()">
        <ion-auto-complete [dataProvider]="suggestionsService" [options]="{ placeholder : 'Titre' }" formControlName="title"
            #autocomplete></ion-auto-complete>
        <!-- <div class="errorMsg animated fadeInDown faster" *ngIf="formGroup.controls['title'].invalid && (formGroup.controls['title'].dirty || submitAttempted)">
      Titre requis
    </div> -->

        <ion-item>
            <ion-textarea placeholder="Description" formControlName="description"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime formControlName="date" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
        </ion-item>
        <div class="errorMsg animated fadeInDown faster" *ngIf="formGroup.controls['date'].invalid && (formGroup.controls['date'].dirty || submitAttempted)">
            Date requise
        </div>

        <ion-item>
            <ion-label>Couleur</ion-label>
            <ion-select formControlName="color">
                <ion-option [value]="color.hex" *ngFor="let color of colors">
                    {{color.name}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Peut être reporté</ion-label>
            <ion-checkbox checked="true" formControlName="reportable"></ion-checkbox>
        </ion-item>
        <button type="submit" ion-button clear>Valider</button>
    </form>
</ion-content>