page-add-objectif {
    .invalid {
        color: #ea6153;
    }

    .errorMsg {
        color: #ea6153;
        padding-top: 0.2rem;
        padding-left: 2.5rem;
    }

    textarea {
        margin-left: 0px;
    }

    ion-card {
        position: relative;
    }

    .bluredHeader {
        filter: blur(5px);
        transition: -webkit-filter 200ms linear;
        overflow: hidden;
    }

    .unbluredHeader {
        filter: blur(0px);
        transition: -webkit-filter 200ms linear;
    }

    .timeButton {
        left:85%; 
        color: color($colors, light);
    }

    .importanceIcon {
        font-size: 1.3rem !important;
    }
}