<ion-header [ngClass]="{ 'bluredHeader': bluredContent, 'unbluredHeader': !bluredContent }">
    <ion-toolbar>
        <ion-title>
            Ajouter un objectif
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Annuler</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="noScroll" [ngClass]="{ 'bluredContent': bluredContent, 'unbluredContent': !bluredContent }">
    <form [formGroup]="formGroup" validate (ngSubmit)="submit()">
        <ion-card>
            <ion-auto-complete (tap)="checkWarning()" [ngClass]="{ 'warning': submitAttempted }" [dataProvider]="suggestionsService" [options]="{ placeholder : 'Titre' }" formControlName="title"
                #autocomplete></ion-auto-complete>
            
            <button class="timeButton" [style.visibility]="isLaterEmpty ? 'hidden': ''" type="button" (click)="showAddedForLater()" ion-button icon-only clear>
                <ion-icon name="time"></ion-icon>
            </button>

            <ion-segment formControlName="importance">
                <ion-segment-button *ngFor="let imp of importances" value="{{imp.id}}" [ngStyle]="{ color: imp.color }">
                    <ion-icon class="importanceIcon" name="{{imp.icon}}"></ion-icon>
                    {{imp.title}}
                </ion-segment-button>
            </ion-segment>

            <ion-item>
                <ion-textarea placeholder="Description" formControlName="description"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime (click)="setBluredContent(true)" (ionCancel)="setBluredContent(false)" (ionChange)="setBluredContent(false)" formControlName="date" displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <!-- <div class="errorMsg animated fadeInDown faster" *ngIf="formGroup.controls['date'].invalid && (formGroup.controls['date'].dirty || submitAttempted)">
                Date requise
            </div> -->

            <ion-item>
                <ion-label>Categorie</ion-label>
                <ion-select (click)="setBluredContent(true)" (ionCancel)="setBluredContent(false)" (ionChange)="setBluredContent(false)" formControlName="category">
                    <ion-option [value]="category.id" *ngFor="let category of categories">
                        {{category.title}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Peut être reporté</ion-label>
                <ion-checkbox checked="true" formControlName="reportable"></ion-checkbox>
            </ion-item>
            <ion-item>
                <button type="submit" ion-button clear item-end>Valider</button>
            </ion-item>
        </ion-card>
    </form>
</ion-content>