add-objectif {
    .invalid {
        color: #ea6153;
    }

    .errorMsg {
        color: #ea6153;
        padding-top: 0.2rem;
        padding-left: 2.5rem;
    }

    textarea {
        margin-left: 0px;
    }
}