<ion-header [ngClass]="{ 'bluredHeader': bluredContent, 'unbluredHeader': !bluredContent }">
    <ion-toolbar>
        <ion-title>
            Ajouter un objectif
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Annuler</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="noScroll" [ngClass]="{ 'bluredContent': bluredContent, 'unbluredContent': !bluredContent }">
    <form [formGroup]="formGroup" validate (ngSubmit)="submit()">
        <ion-card>
            <ion-auto-complete (tap)="checkWarning('title')" [ngClass]="{ 'warning': errorsAfterSubmit.title }"
                [dataProvider]="suggestionsService" [options]="{ placeholder : 'Titre' }" formControlName="title"
                #autocomplete></ion-auto-complete>

            <button class="timeButton" [style.visibility]="isLaterEmpty ? 'hidden': ''" type="button" (click)="showAddedForLater()"
                ion-button icon-only clear>
                <ion-icon name="time"></ion-icon>
            </button>

            <ion-segment formControlName="importance">
                <ion-segment-button text-capitalize *ngFor="let imp of importances" value="{{imp.id}}" [ngStyle]="{ color: imp.color }">
                    <ion-icon class="importanceIcon" name="{{imp.icon}}"></ion-icon>
                    {{imp.title}}
                </ion-segment-button>
            </ion-segment>

            <ion-item>
                <ion-textarea placeholder="Description" formControlName="description"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label>Date {{formGroup.get('periodicity').value !== 'punctual' ? 'de début': ''}}</ion-label>
                <ion-datetime (click)="setBluredContent(true)" (ionBlur)="setBluredContent(false)" formControlName="date"
                    displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
            </ion-item>
            <!-- <div class="errorMsg animated fadeInDown faster" *ngIf="formGroup.controls['date'].invalid && (formGroup.controls['date'].dirty || submitAttempted)">
                Date requise
            </div> -->

            <ion-item>
                <ion-label>Categorie</ion-label>
                <ion-select (click)="setBluredContent(true)" (ionBlur)="setBluredContent(false)" formControlName="category">
                    <ion-option [value]="category.id" *ngFor="let category of categories">
                        {{category.title}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="formGroup.controls['category'].value === 'other'">
                <ion-input class="simpleInput" type="text" placeholder="Autre" formControlName="customCategory"
                    clearInput></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Répéter</ion-label>
                <ion-select (click)="setBluredContent(true)" (ionBlur)="setBluredContent(false)" formControlName="periodicity">
                    <ion-option [value]="periodicity.id" *ngFor="let periodicity of periodicities">
                        {{periodicity.title}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <button type="button" class="periodicityCustomButton" *ngIf="formGroup.get('periodicity').value === 'custom'"
                (click)="openPeriodicity()" ion-button outline>{{periodicityCustom.text}}</button>

            <ion-item *ngIf="formGroup.get('periodicity').value === 'customDays'">
                <button class="dayButton" *ngFor="let periodicity of periodicitiesCustomDays" [ngClass]="{ 'button-outline button-outline-md': !periodicity.selected }" (click)="selectPeriodicityCustomDays(periodicity)" type="button" ion-button round>{{periodicity.title}}</button>
            </ion-item>

            <ion-item *ngIf="formGroup.get('periodicity').value !== 'punctual'">
                <ion-label>Jusqu'à</ion-label>
                <ion-datetime (click)="setBluredContent(true)" (ionBlur)="setBluredContent(false)" formControlName="dateEndPeriodicity"
                    displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>Peut être reporté</ion-label>
                <ion-checkbox checked="true" formControlName="reportable"></ion-checkbox>
            </ion-item>

            <ion-item>
                <button type="submit" ion-button clear item-end>Valider</button>
            </ion-item>
        </ion-card>
    </form>
</ion-content>