<ion-header>
  <ion-navbar>
    <ion-title>
      Vos objectifs
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Vos stats
    </ion-card-header>
    <ion-content>

    </ion-content>
  </ion-card>
  <ion-slides>
    <ion-slide *ngFor="let day of days">
      <h1>{{day.date}}</h1>
      <ion-list>
        <ion-item *ngFor="let objectif of day.objectifs">
          <ion-icon name="square" [ngStyle]="{'color': objectif.color }" item-start></ion-icon>
          {{objectif.title}}
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <ion-fab right bottom>
    <button ion-fab (click)="showAdd()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>