week-stats-home {
    .numberStat {
        font-size: 2.2rem;
    }

    .labelStat {
        font-size: 1.2rem;
    }

    ion-card {   
        /* Set our transitions up. */
        transition: height 0.8s ease;
    }
    .cardEmpty {
        height: 10rem;
    }

    .cardFull {
        height: 20rem;
    }
}