// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:     #1976D2,
  secondary:   #32db64,
  danger:      #A04E4A,
  light:       #ffffff,
  medium:      #eaeaf7,
  grey:        #999,
  dark:        #2e2e38,
  darker:      #1f1f27,
  material-dark: (
    base:      #424250,
    contrast:  #33333d
  )
);

$background-color:             color($colors, material-dark, base);
$list-background-color:        color($colors, material-dark, contrast);
$toolbar-background:           color($colors, material-dark, contrast);
$badge-font-size:              1.5rem;
$week-stats-card-full-height:  calc((16px + 1.6rem + 10px) + 5px + 2*(5px + 2.2rem + 1.2rem + 5px) + 5px + 13px + 35px);
$week-stats-card-empty-height: calc((16px + 1.6rem + 16px) + (1.4rem + 14px) - 20px);
$tabs-background:              color($colors, material-dark, contrast);
$tabs-tab-color-inactive:      color($colors, light);
$tabs-tab-color-active:        color($colors, light);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$card-ios-header-color:             color($colors, light);
$card-ios-background-color:         color($colors, material-dark, contrast);
$list-ios-border-color:             color($colors, dark);
$alert-ios-background-color:        color($colors, material-dark, contrast);
$alert-ios-input-text-color:        color($colors, light);
$alert-ios-sub-title-text-color:    color($colors, light);
$alert-ios-message-text-color:      color($colors, light);
$alert-ios-radio-label-text-color:  color($colors, light);
$alert-ios-radio-icon-border-color: color($colors, light);
$alert-ios-input-border-color:      color($colors, dark);
$tabs-ios-tab-font-size:             1.4rem;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$card-md-header-color:                color($colors, light);
$card-md-background-color:            color($colors, material-dark, contrast);
$list-md-border-color:                color($colors, dark);
$alert-md-background-color:           color($colors, material-dark, contrast);
$alert-md-input-text-color:           color($colors, light);
$alert-md-sub-title-text-color:       color($colors, light);
$alert-md-message-text-color:         color($colors, light);
$alert-md-radio-label-text-color:     color($colors, light);
$alert-md-radio-icon-border-color:    color($colors, light);
$alert-md-input-border-color:         color($colors, dark);
$badge-md-border-radius:              10px;
$toggle-md-active-color:              color($colors, primary);
$toggle-md-track-background-color-on: lighten($toggle-md-active-color, 15%);
$tabs-md-tab-font-size:               1.5rem;
$tabs-md-tab-font-size-active:        1.8rem;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
