// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../components/ionic2-auto-complete/auto-complete.scss";

.bluredContent .scroll-content {
  filter: blur(3px);
  transition: -webkit-filter 200ms linear;
  overflow: hidden;
  pointer-events: none
}

.unbluredContent .scroll-content {
  filter: blur(0px);
  transition: -webkit-filter 200ms linear;
}

.alert-title {
  color: color($colors, light);
}

.action-sheet-group {
  background: color($colors, dark) !important;
}

.action-sheet-button {
  color: color($colors, light) !important;
}

.action-sheet-button.activated {
  background-color: color($colors, material-dark, contrast) !important;
}

.action-sheet-title {
  color: color($colors, light) !important;
  font-weight: bold;
}

.noScroll {
  .scroll-content {
    overflow: hidden;
  }
}

#periodicityNbr {
  background-color: color($colors, material-dark, contrast);
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 30%;
  margin-top: 10px;
}

.buttonDeleteActionSheet {
  background-color: color($colors, danger) !important;
}

.alert-sub-title {
  color: #999;
}
