// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../components/ionic2-auto-complete/auto-complete.scss";

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUp {
  animation: slide-up 0.3s linear;
}

.scroll-content {
  padding-bottom: 0 !important;
}

.alert-title {
  color: color($colors, light);
}

.action-sheet-group {
  background: color($colors, dark) !important;
}

.action-sheet-button {
  color: color($colors, light) !important;

  &.action-sheet-cancel {
    color: color($colors, medium-grey) !important;
  }

  &.activated {
    background-color: color($colors, material-dark, contrast) !important;
  }
}

.action-sheet-title {
  color: color($colors, light) !important;
  font-weight: bold;
}

.noScroll {
  .scroll-content {
    overflow: hidden;
  }
}

#periodicityNbr {
  background-color: color($colors, material-dark, contrast);
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 30%;
  margin-top: 10px;
}

.redText {
  color: color($colors, danger) !important;
}

.alert-sub-title {
  color: color($colors, grey);
}

ion-slide {
  height: auto !important;
  display: block !important;
}

.iconField {
  display: inline-block;
  vertical-align: middle;
  color: color($colors, medium);
  font-size: 2rem;
  margin-right: 1vw;
}

.nameField {
  display: inline-block;
  vertical-align: middle;
  color: color($colors, grey);
}

.fullButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.noValidationColor>.item-inner {
  border-bottom-color: transparent !important;
  box-shadow: unset !important;
}

.action-sheet-selected {
  color: color($colors, medium) !important;
  background-color: color($colors, material-dark, medium) !important;
}

.toast-remove {
  &>.toast-wrapper {
    &>.toast-container {
      &>.toast-button {
        color: color($colors, danger);
      }
    }
  }
}

.nothing-container {
  text-align: center;
  top: 13%;
  position: absolute;

  &>.nothing-logo {
    width: 40vw;
    font-size: 40vw;
    filter: opacity(20%);
  }

  &>.nothing-text {
    font-size: 18px;
    padding: 20px 40px;
  }
}

// ion-card {
//   background-image: linear-gradient(to bottom right, color($colors, material-dark, contrast), color($colors, darker)) !important;
// }
