.splashcreen-container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: hidden;

  & > .logo {
    animation: slide-up 0.25s linear;
    position: absolute;
    width: 50%;
    height: auto;
    top: 15%;
    left: 30%;
  }

  & > .mountains {
    & > .montain {
      position: absolute;
      bottom: 0;
      left: 0;
      animation: slide-up 0.75s linear;

      &.one {
        z-index: 1;
      }
      &.two {
        z-index: 2;
      }
      &.three {
        z-index: 3;
      }
    }
  }
}
