stats-card {
    .numberStat {
        font-size: 2.2rem;
    }

    .labelStat {
        font-size: 1.2rem;
    }

    ion-card {   
        /* Set our transitions up. */
        transition: height 0.8s ease;
    }

    .cardEmpty {
        height: 14vh;
    }

    .cardFull {
        height: 30vh;
    }

    ion-icon {
        margin-left: 0.4vh;
    }

    .notCentered {
        height: auto;
    }

    ion-grid {
        height: 100%;
    }

    ion-row {
        height: 50%;
    }

    ion-card-content {
        height: 80%;
    }

    h1 {
        margin-bottom: 2rem !important;
    }
}