stats-card {
    .numberStat {
        font-size: 2.2rem;
    }

    .labelStat {
        font-size: 1.2rem;
    }

    ion-card {   
        /* Set our transitions up. */
        transition: height 0.8s ease;
    }

    .cardEmpty {
        //(header) + (content) + adjust
        height: $week-stats-card-empty-height;
    }

    .cardFull {
        // (header) + padding_top_content + 2*row + padding_top_content + padding_content + adjust_value
        height: $week-stats-card-full-height;
    }

    ion-icon {
        margin-left: 0.4vh;
    }

    .notCentered {
        height: auto;
    }

    ion-grid {
        height: 100%;
    }

    ion-row {
        height: 50%;
    }

    ion-card-content {
        height: 80%;
    }

    ion-card-header, .card-header-md {
        padding: 16px 16px 10px 16px;
    }

    h1 {
        margin-bottom: 2rem !important;
    }
}