stats-card {
  ion-scroll:not(.weekStatsTab):not(.weekStatsTabCategory) {
    max-height: calc(100vh - 13.3rem - 40px);
  }

  ion-scroll:not(.weekStatsTab):not(.weekStatsTabCategory) .scroll-content {
    overflow-y: auto !important;
  }

  .weekStatsTab {
    max-height: calc(100vh - (2rem + 1rem + 2.6rem) - (3vh + 3vh + 2.2rem) - 15px - #{$button-add-height} - 135px);
  }

  .weekStatsTabCategory {
    max-height: calc(100vh - (2rem + 1rem + 2.6rem) - (3vh + 3vh + 2.2rem) - 15px - #{$button-add-height} - 135px - 120px + 10px);
  }

  ion-item {
    height: 7vh;
  }

  .done {
    text-decoration: line-through;
    color: #808080;
  }

  .numberStat {
    font-size: 2.2rem;
  }

  .labelStat {
    font-size: 1.2rem;
  }

  ion-card {
    /* Set our transitions up. */
    // transition: height 0.8s ease;
  }

  .cardEmpty {
    //(header) + (content) + adjust
    //height: $week-stats-card-empty-height;
  }

  .cardFull {
    // (header) + padding_top_content + 2*row + padding_top_content + padding_content + adjust_value
    height: calc(#{$week-stats-card-full-height} + 20px) !important;
  }

  .edition-card {
    height: calc(#{$week-stats-card-full-height} + 10px) !important;
  }

  ion-icon {
    margin-left: 0.4vh;
  }

  .notCentered {
    height: auto;
  }

  ion-grid {
    height: 140px;
  }

  ion-row {
    height: 50%;
  }

  ion-card-content {
    height: 80%;
  }

  ion-card-header,
  .card-header-md {
    padding: 16px 16px 10px 16px;
  }

  ion-card-header {
    position: relative;
  }

  h1 {
    margin-bottom: 2rem !important;
  }

  .list-button {
    opacity: 0.5;
    color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  /* entire container, keeps perspective */
  .flip-container {
    perspective: 1000px;
  }

  /* flip the pane when hovered */
  .flip-container.flipped .flipper,
  .flip-container.flipped .flipper {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    width: calc(100vw - 20px);
  }

  .flip-container {
    height: calc(100vh - 13.3rem);
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }

  /* hide back of pane during swap */
  .front,
  .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
  }

  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .back {
    &>ion-scroll {
      position: initial !important;

      &>.scroll-content {
        margin-top: 50px;
      }
    }

    transform: rotateY(180deg);
    max-height: calc(100vh - 13.3rem);
    margin-top: 10px;

    &>ion-card-title {
      text-align: center;
      color: #fff;
      font-size: 2.1rem;
      height: 40px;
    }
  }

  .title-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .edition-button-cancel {
    margin-top: 15px;
    color: color($colors, medium);
    font-size: 1.2rem;
  }

  .edition-button {
    width: 100%;
    border: none;

    &.report {
      background-color: color($colors, orange);
    }

    &.delete {
      background-color: color($colors, danger-clear);
    }

    &>.button-inner {
      color: color($colors, medium);
    }
  }

  .no-stats-icon {
    font-size: 8rem;
    color: #676773;
  }

  .no-stats-content {
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    display: flex;
  }
}
