<ion-card [ngClass]="{ 'cardEmpty': (!weekStatsPage && stats.isEmpty()), 'cardFull': (!weekStatsPage && !stats.isEmpty()) }" *ngIf="stats">
  <ion-card-header text-center *ngIf="!weekStatsPage">
    Stats de la semaine
  </ion-card-header>
  <ion-card-content *ngIf="!stats.isEmpty()">
    <ion-grid text-center>
      <ion-row justify-content-center>
        <ion-col>
          <div class="numberStat">
            {{stats.total}}
            <ion-icon name="flag" [style.color]="colors.blue"></ion-icon>
          </div>
          <div class="labelStat">objectifs fixés</div>
        </ion-col>
        <ion-col>
          <div class="numberStat">
            {{stats.done}}
            <ion-icon name="checkmark" [style.color]="colors.green"></ion-icon>
          </div>
          <div class="labelStat">objectifs atteints</div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col>
          <div class="numberStat">
            {{stats.reports}}
            <ion-icon name="calendar" [style.color]="colors.orange"></ion-icon>
          </div>
          <div class="labelStat">reports</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngIf="categories.length > 0">
      <ion-item *ngFor="let category of categories">
          <ion-icon name="{{category.icon}}" [ngStyle]="{ color: category.color }"
            item-start></ion-icon>
          <span item-start>
            {{category.title}}
          </span>
          <span item-end>
            {{category.number.done + '/' + category.number.total}}
          </span>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-card-content *ngIf="stats.isEmpty()">
    Pas de statistiques pour cette semaine.
  </ion-card-content>
</ion-card>
