<div class="flip-container" *ngIf="stats && !stats.isEmpty()" [ngClass]="{ 'flipped': flipped, 'cardFull': stats && !stats.isEmpty() }">
  <div class="flipper">
    <ion-card class="front">
      <ion-card-header text-center *ngIf="!weekStatsPage">
        Stats de la semaine
      </ion-card-header>
      <ion-card-content *ngIf="!stats.isEmpty()">
        <ion-grid text-center>
          <ion-row justify-content-center>
            <ion-col (click)="stats.objectifs != null && showListObjectifs('all')">
              <div class="numberStat">
                {{stats.total}}
                <ion-icon name="flag" [style.color]="colors.blue"></ion-icon>
              </div>
              <div class="labelStat">objectifs fixés</div>
            </ion-col>
            <ion-col (click)="stats.objectifs != null && stats.done != 0 && showListObjectifs('done')">
              <div class="numberStat">
                {{stats.done}}
                <ion-icon name="checkmark" [style.color]="colors.green"></ion-icon>
              </div>
              <div class="labelStat">objectifs atteints</div>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center (click)="stats.objectifs != null && stats.reports != 0 && showListObjectifs('reportCount')">
            <ion-col>
              <div class="numberStat">
                {{stats.reports}}
                <ion-icon name="calendar" [style.color]="colors.orange"></ion-icon>
              </div>
              <div class="labelStat">reports</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-scroll scrollY="true" [style.height]="'calc(' + (7 * (categories.length)) + 'vh)'" [ngClass]="{ 'weekStatsTabCategory': weekStatsTab }"
          *ngIf="categories.length > 0">
          <ion-list>
            <ion-item *ngFor="let category of categories" (click)="stats.objectifs != null && showListObjectifs('category', category)">
              <ion-icon name="{{category.icon}}" [ngStyle]="{ color: category.color }" item-start></ion-icon>
              <span item-start>
                {{category.title}}
              </span>
              <span item-end>
                {{category.number.done + '/' + category.number.total}}
              </span>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </ion-card-content>
    </ion-card>
    <ion-card (click)="hideListObjectifs()" class="back" *ngIf="stats && stats.objectifs">
      <ion-card-title>
        <ion-icon name="{{objectifsDisplayed.icon}}" [style.color]="objectifsDisplayed.color"></ion-icon>
        {{objectifsDisplayed.title}}
      </ion-card-title>
      <ion-scroll [ngClass]="{ 'weekStatsTab': weekStatsTab }" [ngStyle]="{ 'height': 'calc(' + 7 * (objectifsDisplayed.list.length) + 'vh + 5px)' }"
        scrollY="true">
        <ion-list>
          <ion-item *ngFor="let obj of objectifsDisplayed.list; trackBy: trackObjectifsFunction;">
            <ion-icon class="title-icon" *ngIf="!objectifsDisplayed.categoryMode" name="{{categoriesJson[obj.category].icon}}" [ngStyle]="{ color: categoriesJson[obj.category].color }"
              item-start></ion-icon>
            <div>
              <ion-icon name="{{importancesJson[obj.importance].icon}}" [ngStyle]="{ color: importancesJson[obj.importance].color }"></ion-icon>
              {{obj.title}}
            </div>
            <ion-badge [ngStyle]="{ 'background-color': obj.countColor }" item-end *ngIf="(obj.count != obj.countDone) && !(obj.count == 1 && obj.done == 0)">
              {{obj.countDone + '/' + obj.count}}</ion-badge>
            <span item-end *ngIf="obj.count == obj.countDone">
              {{obj.count != 1 ? obj.count: ''}}
              <ion-icon name="checkmark" [ngStyle]="{ color: colors.green }"></ion-icon>
            </span>
            <span item-end *ngIf="obj.count == 1 && obj.done == 0">
              {{obj.count != 1 ? obj.count: ''}}
              <ion-icon name="close" [ngStyle]="{ color: colors.red }"></ion-icon>
            </span>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-card>
    <ion-card class="back edition-card" *ngIf="!(stats && stats.objectifs)">
      <ion-card-header text-center>
        Editer la sélection
      </ion-card-header>
      <ion-card-content>
        <button (click)="checkSelect(); $event.stopPropagation();" class="edition-button check" round outline ion-button icon-start>
          <ion-icon name="checkmark"></ion-icon>
          Valider
        </button>
        <button (click)="reportSelect(); $event.stopPropagation();" class="edition-button report" round outline ion-button icon-start>
          <ion-icon name="calendar"></ion-icon>
          Reporter
        </button>
        <button (click)="deleteSelect(); $event.stopPropagation();" class="edition-button delete" round outline ion-button icon-start>
          <ion-icon name="trash"></ion-icon>
          Supprimer
        </button>
        <!-- <button (click)="cancelSelect()" class="edition-button-cancel" clear ion-button float-right>
          Annuler
        </button> -->
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div class="flip-container cardFull" *ngIf="stats && stats.isEmpty()">
  <div class="flipper">
    <ion-card class="front edition-card">
      <ion-card-content class="no-stats-content" text-center>
        <ion-icon class="no-stats-icon" name="trending-up"></ion-icon>
        <div>Pas de statistiques pour cette semaine.</div>
      </ion-card-content>
    </ion-card>
  </div>
</div>