<ion-content [style.background-size]="'auto ' + shouldHeight" padding class="noScroll">
  <!-- <img class="passwordImg" src="assets/imgs/logo.png" /> -->
  <form id="form" [formGroup]="formGroup" validate (ngSubmit)="submit()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="noValidationColor passwordInput">
            <ion-input #input type="password" placeholder="Mot de passe" formControlName="password" round></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-auto>
          <button class="passwordButton" ion-button icon-only round>
            <ion-icon name="unlock"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
