page-password {
  .passwordInput {
    border-radius: 64px;
  }

  .passwordButton {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .passwordImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 50%;
  }

  .text-input-md {
    top: 0;
  }

  ion-content {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
  }

  form {
    position: initial;
    width: 100%;
    margin-top: 40vh;
  }

  @media (-webkit-min-device-pixel-ratio: 0.75),
  (min-resolution: 120dpi) {
    ion-content {
      background-image: url("../../assets/splashscreens/drawable-port-ldpi-screen.png");
    }
  }

  @media (-webkit-min-device-pixel-ratio: 1),
  (min-resolution: 160dpi) {
    ion-content {
      background-image: url("../../assets/splashscreens/drawable-port-mdpi-screen.png");
    }
  }

  @media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 240dpi) {
    ion-content {
      background-image: url("../../assets/splashscreens/drawable-port-hdpi-screen.png");
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 320dpi) {
    ion-content {
      background-image: url("../../assets/splashscreens/drawable-port-xhdpi-screen.png");
    }
  }

  @media (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 480dpi) {
    ion-content {
      background-image: url("../../assets/splashscreens/drawable-port-xxhdpi-screen.png");
    }
  }

  @media (-webkit-min-device-pixel-ratio: 4),
  (min-resolution: 640dpi) {
    ion-content {
      background-image: url("../../assets/splashscreens/drawable-port-xxxhdpi-screen.png");
    }
  }
}
