page-objectifs {
  .done {
    text-decoration: line-through;
    color: #808080;
  }

  ion-slides {
    height: auto;
  }

  .buttonAddObj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
}
