page-objectifs {
    .done {
        text-decoration: line-through;
        color: #808080;
    }

    .bluredContent .scroll-content {
        filter: blur(5px);
        transition: -webkit-filter 200ms linear;
        overflow: hidden;
    }

    .unbluredContent .scroll-content {
        filter: blur(0px);
        transition: -webkit-filter 200ms linear;
    }
}
