page-objectifs {
  $importance-width: 7px;
  $check-button-size: 30px;

  .later-counter-badge {
    background-color: #ffffff;
    color: color($colors, primary);
    margin-right: 10px;
  }

  .title.done {
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #808080;
      animation-name: strike;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; 
    }

    color: #808080;
  }

  .buttonAddObj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .fabBackDrop {
    transition: opacity 0.5s ease;
    opacity: 0.26;
  }

  .settingsButton {
    position: absolute;
    right: 10px;
    color: color($colors, medium);
  }

  .importance {
    width: $importance-width;
    height: 70%;
    position: absolute;
    left: 0;
    top: 15%;
    border-radius: 0 20px 20px 0;
    opacity: 0.7;
  }

  ion-item {
    height: $item-height;
    position: relative;
    padding-left: calc(#{$importance-width} + 20px) !important;

    &.selected {
      background-color: color($colors, material-dark, medium);
    }

    &.slide {
      animation: slide 0.5s linear;
    }
  }

  h1 {
    margin-top: 2rem;
  }

  ion-scroll {
    // 100vh - (card height) - (slide_title height) - (slide_progress_bar height) - margin
    max-height: calc(100vh - (#{$week-stats-card-full-height} + 2 * 10px) - (2rem + 1rem + 2.6rem) - (3vh + 3vh + 2.2rem) - 15px - #{$button-add-height});
  }

  ion-scroll .scroll-content {
    overflow-y: auto !important;
  }

  .category-icon {
    margin-right: 0 !important;
  }

  ion-label {
    height: calc(100% - 26px);
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
  }

  ion-badge {
    position: absolute;
    z-index: 1;
    right: 0;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.26;
    }
  }

  @keyframes slide {
    100% { left: 0; }
  }

  ion-fab {
    bottom: calc(12px + #{$button-add-height}) !important;
  }

  .button-add {
    position: absolute;
    bottom: 0;
    height: $button-add-height;
    margin-bottom: 0;
    z-index: 3;
  }

  .text-button-container {
    display: flex;
    align-items: center;

    &>.check-button {
      border-color: color($colors, dark-grey);
      color: color($colors, dark-grey);
      background-color: color($colors, dark-medium);
      height: $check-button-size;
      width: $check-button-size;
      border-radius: calc(#{$check-button-size}/2);
      margin-left: 10px;

      &.done {
        background-color: color($colors, green);
        border-color: color($colors, medium);
        color: color($colors, medium);
      }
    }

    &>.text-container {
      overflow: hidden;
      flex-grow: 1;
      width: calc(100% - 100px);
    }
  }

  @keyframes strike{
    0%   { width : 0; }
    100% { width: 100%; }
  }


  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
