page-objectifs {
  .done {
    text-decoration: line-through;
    color: #808080;
  }

  .buttonAddObj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .fabBackDrop {
    animation: appear 0.5s ease;
  }

  ion-item {
    height: 10vh;
  }

  ion-scroll {
    // 100vh - (card height) - (slide_title height) - (slide_progress_bar height) - margin
    max-height: calc(100vh - (#{$week-stats-card-full-height} + 2 * 10px) - (2rem + 1rem + 2.6rem) - (3vh + 3vh + 2.2rem) - 15px);
  }

  ion-scroll .scroll-content {
    overflow-y: auto !important;
  }

  ion-badge {
    position: absolute;
    z-index: 1;
    right: 0;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.26;
    }
  }
}
