page-objectifs {
  .done {
    text-decoration: line-through;
    color: #808080;
  }

  .buttonAddObj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  .fabBackDrop {
    transition: opacity 0.5s ease;
    opacity: 0.26;
  }

  .settingsButton {
    position: absolute;
    right: 10px;
    color: color($colors, medium);
  }

  ion-item {
    height: 10vh;
  }

  h1 {
    margin-top: 1rem;
  }

  ion-scroll {
    // 100vh - (card height) - (slide_title height) - (slide_progress_bar height) - margin
    max-height: calc(100vh - (#{$week-stats-card-full-height} + 2 * 10px) - (1rem + 1rem + 2.6rem) - (3vh + 3vh + 2.2rem) - 15px - #{$button-add-height});
  }

  ion-scroll .scroll-content {
    overflow-y: auto !important;
  }

  ion-badge {
    position: absolute;
    z-index: 1;
    right: 0;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.26;
    }
  }

  ion-fab {
    bottom: calc(12px + #{$button-add-height}) !important;
  }

  .button-add {
    position: absolute;
    bottom: 0;
    height: $button-add-height;
    margin-bottom: 0;
    z-index: 3;
  }

  .nothing-container {
    text-align: center;
    top: 13%;
    position: absolute;

    &>.nothing-logo {
      width: 40vw;
      filter: opacity(20%);
    }

    &>.nothing-text {
      padding: 20px 30px;
    }
  }
}
