<ion-header>
    <ion-navbar>
        <ion-title>
            Vos objectifs
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="weekStats">
        <ion-card-header>
            Stats de la semaine
        </ion-card-header>
        <ion-card-content>
            <div>Total: {{weekStats.total}}</div>
            <div>Faits: {{weekStats.done}}</div>
            <div>Nombre de reports: {{weekStats.reports}}</div>
            <div>Nombre de reportés: {{weekStats.reported}}</div>
        </ion-card-content>
    </ion-card>
    <ion-slides (ionSlideDidChange)="slideDidChange()" initialSlide="{{nbrDaysDisplayed - 1}}">
        <ion-slide *ngFor="let day of days">
            <h1>{{day.name ? day.name : day.date}}</h1>
            <div *ngIf="day.objectifs.length > 0">
                <ion-card *ngIf="day.stats != null">
                    <ion-card-content>
                        {{day.stats.getPropDone()}} d'objectifs atteints
                    </ion-card-content>
                </ion-card>
                <ion-list>
                    <ion-item (click)="showActions(obj)" *ngFor="let obj of day.objectifs">
                        <ion-icon name="{{categoriesJson[obj.category].icon}}" [ngStyle]="{'color': categoriesJson[obj.category].color }"
                            item-start></ion-icon>
                        <div [ngClass]="{'done': obj.done}">
                            {{obj.title}}
                        </div>
                        <ion-badge item-end *ngIf="obj.reportCount != null && obj.reportCount != 0">{{obj.reportCount}}</ion-badge>
                    </ion-item>
                </ion-list>
            </div>
            <div *ngIf="day.objectifs.length === 0">
                <ion-card>
                    <ion-card-header>
                        Aucun objectif pour le moment !
                    </ion-card-header>
                    <ion-card-content>
                        Vous n'avez fixé aucun objectif pour ce jour.
                        <button ion-button outline (click)="showAdd()">Ajouter un objectif</button>
                    </ion-card-content>
                </ion-card>
            </div>
        </ion-slide>
    </ion-slides>

    <ion-fab right bottom #fab>
        <button ion-fab>
            <ion-icon name="trending-up"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab (click)="showAdd($event, fab)">
                <ion-icon name="add"></ion-icon>
            </button>
            <button ion-fab (click)="showAddLater($event, fab)">
                <ion-icon name="time"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>