<ion-content class="noScroll slideUp">
  <ion-backdrop (click)="closeFab(fab)" class="fabBackDrop" [ngClass]="{'fabBackDropHidden': !backDrop.displayed}"
    [style.z-index]="backDrop.active ? '500' : '-999'" [style.opacity]="backDrop.displayed ? '0.26' : '0'">
  </ion-backdrop>
  <stats-card [stats]="weekStats" (click)="selectMode ? null : showStats(null, null)" [selectionMode]="selectMode"
    (deleteSelection)="deleteSelection()" (reportSelection)="reportSelection()" (cancelSelection)="deselectAll()">
  </stats-card>
  <ion-slides (ionSlideDidChange)="slideDidChange()" initialSlide="{{nbrDaysDisplayed - 1}}">
    <ion-slide *ngFor="let day of days; trackBy: trackDaysFunction;">
      <h1 (click)="goToDay(day.date)">
        <span *ngIf="day.name">{{day.name}}</span>
        <span *ngIf="!day.name">{{day.dateObject | date: dateFormat}}</span>
      </h1>
      <div *ngIf="day.objectifs.length > 0">
        <progress-bar *ngIf="day.stats != null" [progress]="day.stats.getPropDone()"></progress-bar>
        <ion-card>
          <ion-scroll [style.height]="75 * (day.objectifs.length) + 'px'" scrollY="true">
            <ion-list>
              <ion-item [ngClass]="{ 'selected': obj.selected }" ion-long-press (onPressStart)="select(obj)"
                *ngFor="let obj of day.objectifs; trackBy: trackObjectifsFunction;">
                <div class="importance" [ngStyle]="{ 'background-color': importancesJson[obj.importance].color }">
                </div>
                <ion-icon class="category-icon" (click)="select(obj)"
                  name="{{obj.selected ? 'checkmark-circle': categoriesJson[obj.category].icon}}"
                  [ngStyle]="{ color: categoriesJson[obj.category].color }" item-start></ion-icon>
                <div (click)="objectifClicked(obj)" [ngClass]="{'done': obj.done}">
                  {{obj.title}}
                </div>
                <p (click)="objectifClicked(obj)">
                  <!-- <ion-icon name="{{importancesJson[obj.importance].icon}}"
                    ></ion-icon>
                  <span *ngIf="obj.description === '' || obj.description == null">
                    Importance {{importancesJson[obj.importance].title}}
                  </span> -->
                  <span *ngIf="obj.description.length <= limitDescription">
                    {{obj.description}}
                  </span>
                  <span *ngIf="obj.description.length > limitDescription">
                    {{obj.description | slice:0:limitDescription}}...
                  </span>
                </p>
                <ion-badge (click)="objectifClicked(obj)" item-end
                  *ngIf="obj.reportCount != null && obj.reportCount != 0">
                  <ion-icon name="calendar"></ion-icon>
                  {{obj.reportCount}}
                </ion-badge>
              </ion-item>
            </ion-list>
          </ion-scroll>
        </ion-card>
      </div>
      <div class="nothing-container" *ngIf="day.objectifs.length === 0">
        <img class="nothing-logo" src="assets/imgs/logo.png">
        <div class="nothing-text">
          Vous n'avez fixé aucun objectif pour ce jour.
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <button class="button-add" ion-button icon-start full (click)="showAdd($event, fab)">
    <ion-icon name="add"></ion-icon>
    Ajouter un objectif
    <ion-badge class="later-counter-badge" *ngIf="nbrLater != null && nbrLater > 0">
      {{nbrLater}}
    </ion-badge>
  </button>

  <ion-fab right bottom #fab>
    <button ion-fab (click)="setBackDrop()">
      <ion-icon name="flag"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <!-- <button ion-fab (click)="showAddLater($event, fab)">
        <ion-icon name="document"></ion-icon>
      </button> -->
      <button ion-fab (click)="showDrafts($event, fab)">
        <ion-icon name="copy"></ion-icon>
      </button>
      <button ion-fab (click)="showSettings($event, fab)">
        <ion-icon name="settings"></ion-icon>
      </button>
      <button ion-fab (click)="showStats($event, fab)">
        <ion-icon name="trending-up"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
