page-objectifs {
  .done {
    text-decoration: line-through;
    color: #808080;
  }

  .buttonAddObj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  ion-item {
    height: 10vh;
  }

  ion-scroll {
    max-height: 45vh;
  }

  ion-scroll .scroll-content {
    overflow-y: auto !important;
  }

  ion-slide {
    height: auto !important;
    display: block !important;
  }

  .noScroll {
    .scroll-content {
      overflow: hidden;
    }
  }
}
