<ion-header>
  <ion-navbar>
    <ion-title>
      Vos objectifs
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Vos stats
    </ion-card-header>
    <ion-content>

    </ion-content>
  </ion-card>
  <ion-slides (ionSlideDidChange)="slideDidChange()" initialSlide="{{nbrDaysDisplayed - 1}}">
    <ion-slide *ngFor="let day of days">
      <h1>{{day.date}}</h1>
      <ion-list>
        <ion-item (click)="showActions(obj)" *ngFor="let obj of day.objectifs">
          <ion-icon name="square" [ngStyle]="{'color': obj.color }" item-start></ion-icon>
          {{obj.title}}
          <ion-badge item-end *ngIf="obj.reportCount != null && obj.reportCount != 0">{{obj.reportCount}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>

  <ion-fab right bottom>
    <button ion-fab (click)="showAdd()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>