progress-bar {
    .progress-outer {
        width: 96%;
        margin: 3vh 2%;
        padding: 3px;
        text-align: center;
        background-color: color($colors, material-dark, contrast);
        border: 1px solid color($colors, material-dark, base);
        color: color($colors, light);
        border-radius: 20px;
    }

    .progress-inner {
        height: 2.2rem;
        min-width: 8%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: map-get($colors, primary);
        transition: 0.8s ease;
        transition-property: width, background-color;
    }
}